<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd9m252kQ79NqwNwi55WyrVzajXudLfnU</string>
	<key>GCM_SENDER_ID</key>
	<string>593789696283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.op1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>taskmaker-98e3f</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmaker-98e3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593789696283:ios:0b20b23f33f2c80f707bbe</string>
</dict>
</plist>